/.bundle/
/Gemfile.lock

/.yardoc
/_yardoc/
/doc/

/log/*.log

/pkg/
/tmp/

*.bundle
*.so
*.o
*.a
mkmf.log

/coverage/
/spec/reports/

/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/db/structure.sql
/spec/dummy/db/schema.rb
/spec/dummy/log/*.log
/spec/dummy/storage/
/spec/dummy/tmp/
